.not-found-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 80vh;
    
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
}

    .not-found-page h1 {
        margin: 0;

        font-size: 100px;
        color: #ff4c4c;
    }

    .not-found-page h2 {
        margin: 10px 0;

        font-size: 32px;
    }

    .not-found-page p {
        margin: 10px 0 20px;

        font-size: 18px;
    }

    .not-found-page button {
        padding: 10px 20px;

        font-size: 16px;
        background: #007bff;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;

        transition: 0.2s;
    }

    .not-found-page button:hover {
        background: #0056b3;
    }
